.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lists {
  display: flex; 
}

.button {
  background-color: aqua; 
  border: none; 
  border-radius: 20px; 
  padding: 10px 20px; 
}

.button:hover {
  border: 1px solid black; 
}

.heading {
  font-size: 30px; 
  font-weight: 600; 
  color: #354F52;
	text-align: center;
  font-family: 'Trocchi', serif;
}

.material-symbols-outlined {
  color: #354F52; 
  font-size: 50px; 
}

.homepage-gradient-text {
	background-image: linear-gradient(to right, #12e9f1, #bf7fea);
	background-clip: text;
	color: transparent;
	margin-left: 16px;
}

.homepage-body {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.home-subheading {
  color: #52796F; 
  font-family: 'Work Sans', sans-serif;
}